@inject truyenchu.Data.AppDbContext dbContext
@{
    var categories  = dbContext.Categories.ToList();
    var breadcrumbs = ViewBag.breadcrumbs as List<BreadCrumbModel>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/header.js" asp-append-version="true"></script>
</head>
<body class="dark-theme">
    <header>
        <nav id="navbartop" class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-white box-shadow">
            <div class="container">
                @* Logo/Home *@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-book-half fs-3"></i>
                    TRUYỆN CHỮ
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    @* Navbar *@
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Danh sách
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Test">Truyện hot</a></li>
                                <li><a class="dropdown-item" href="#">Truyện full</a></li>
                                <li><a class="dropdown-item" href="#">Truyện mới cập nhật</a></li>
                            </ul>
                        </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Thể loại
                            </a>
                            <ul class="dropdown-menu pe-2" style="min-width: 400px;" >
                                <div>
                                    <div class="row">
                                        @foreach (var category in categories) {
                                            <div class="col-md-4">
                                                <li><a asp-area="ViewStory" asp-controller="SearchStory" asp-action="SearchCategory" asp-route-categorySlug="@category.CategorySlug" class="dropdown-item">@category.CategoryName</a></li>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Phân loại theo chương
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="SearchStory" asp-action="SearchRange" asp-route-rangeSlug="duoi-100-chuong">Dưới 100 chương</a></li>
                                <li><a class="dropdown-item" asp-controller="SearchStory" asp-action="SearchRange" asp-route-rangeSlug="100-500-chuong">Từ 100 đến 500 chương</a></li>
                                <li><a class="dropdown-item" asp-controller="SearchStory" asp-action="SearchRange" asp-route-rangeSlug="500-1000-chuong">Từ 500 đến 1000 chương</a></li>
                                <li><a class="dropdown-item" asp-controller="SearchStory" asp-action="SearchRange" asp-route-rangeSlug="tren-1000-chuong">Trên 1000 chương</a></li>
                            </ul>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="Database" asp-controller="DatabaseManager" asp-action="Index">
                                Database Manager
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="ViewStory" asp-controller="ViewStory" asp-action="Test">
                                Test
                            </a>
                        </li>
                        <partial name="_SettingPartial" />
                    </ul>
                    @* Tìm kiếm *@
                    <form method="get" asp-area="ViewStory" asp-controller="SearchStory" asp-action="SearchStory" id="navbar-search" class="d-flex" role="search">
                        <input name="searchString"  class="form-control rounded-0 bg-dark" type="search" placeholder="Tìm kiếm ..." aria-label="Search" required>
                        <button class="btn btn-outline-success rounded-0" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        @* breadcrumb *@
        <div id="breadcrumb">
            <div class="container">
                <nav aria-label="breadcrumb pt-2">
                    <ol class="breadcrumb">
                        @if (breadcrumbs?.Count > 0) 
                        {
                            @foreach (var b in breadcrumbs) 
                            {
                                if (b.IsActive)
                                {
                                    <li class="breadcrumb-item active" aria-current="page">@b.DisplayName</li>
                                }
                                else 
                                {
                                    <li class="breadcrumb-item"><a href="@b.Url">@b.DisplayName</a></li>
                                }
                            }
                        } else 
                        {
                            <li class="breadcrumb-item active" aria-current="page">Đọc truyện online hoàn toàn miễn phí tại TruyenChu.com</li>
                        }
                    </ol>
                </nav>
        </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - truyenchu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <p>
                <a target="_blank" asp-area="File" asp-controller="File" asp-action="Index">File</a>
            </p>
        </div>
    </footer>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>