@using truyenchu.Utilities
@using truyenchu.Models.Home
@{
    var themes = new ThemeModel[] {
        new ThemeModel() {Name="mautoi", ClassTheme = "dark-theme",UrlBgImage = "https://static.8cache.com/img/bg_dark.gif", DisplayName="Màu tối" },
        new ThemeModel() {Name="mausang", ClassTheme = "light-theme",UrlBgImage = "https://static.8cache.com/img/bg_op.png", DisplayName="Màu sáng"}
    };
}
@if (TempData["ShowSettingMenu"] != null) {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tùy chỉnh
        </a>
        <div class="dropdown-menu story-setting">
            <form>
                <div class="form-group">
                    <div class="col-5">
                        <label for="" class="form-label">Màu nền</label>
                    </div>
                    <div class="col-7">
                        @{
                            ThemeModel currentTheme = null;
                            var themeCookieStr = Context.Request.Cookies["theme"];
                            if (themeCookieStr !=null) 
                                currentTheme = AppUtilities.Base64DecodeObject<ThemeModel>(themeCookieStr);
                        }
                        <select name="maunen" id="" class="form-select">
                            @foreach (var theme in themes)
                            {
                                var selected_theme = false;
                                if (currentTheme != null && currentTheme.Name == theme.Name)
                                    selected_theme = true;

                                <option selected="@selected_theme" value='@AppUtilities.Base64EncodeObject(theme)'>@theme.DisplayName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-5">
                        <label for="" class="form-label">Font chữ</label>
                    </div>
                    <div class="col-7">
                        @{
                            var fonts = new List<string>() { "cursive", "sans-serif", "serif", "monospace" };
                            var current_fontchu = Context.Request.Cookies["fontchu"];
                        }
                        <select name="fontchu" id="" class="form-select">
                            @foreach (var font in fonts)
                            {
                                var selected_font = font == current_fontchu;
                                    <option selected="@selected_font" value="@font">@font</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-5">
                        <label for="" class="form-label">Size chữ</label>
                    </div>
                    <div class="col-7">
                        @{
                            var current_sizechu = Context.Request.Cookies["sizechu"];
                        }
                        <select name="sizechu" id="" class="form-select">
                            @for (var i = 16; i <= 40; i += 2)
                            {
                                var selected_size = current_sizechu == i + "" ? true : false;
                                    <option selected="@selected_size" value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-5">
                        <label for="" class="form-label">Chiều cao dòng</label>
                    </div>
                    <div class="col-7">
                        @{
                            var lineheights = new[] {
                                new {value="1",displayname="100%"},
                                new {value="1.2",displayname="120%"},
                                new {value="1.4",displayname="140%"},
                                new {value="1.6",displayname="160%"},
                                new {value="1.8",displayname="180%"},
                                new {value="2",displayname="200%"}
                                };
                            var current_lineheight = Context.Request.Cookies["chieucaodong"];
                        }
                        <select name="chieucaodong" id="" class="form-select">
                            @foreach (var lineheight in lineheights)
                            {
                                var selected_lineheight = current_lineheight == lineheight.value;
                                    <option selected="@selected_lineheight" value="@lineheight.value">@lineheight.displayname</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </li>
}