@model truyenchu.Models.Story

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Story</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorySlug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorySlug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorySource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorySource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoryState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoryState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestChapterOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestChapterOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
