@model DetailViewModel
@{
    ViewData["Title"] = Model.Story.StoryName;
    Layout="_DetailLayout";
}

<div class="detail-story">
    <div class="list-title">
        <h2>        
            Thông tin truyện
        </h2>
    </div>
</div>
<div class="mt-2 clearfix">
    <h4 class="text-center mb-4 d-inline-block float-end m-auto detail-title">@Model.Story.StoryName</h4>
    <div class="col-md-3 col-sm-12 float-start px-2">
        <partial name="_BookThumbPartial" model="@Model.Story.Photo.FileName" />
        <div class="story-info my-4">
            <div class="mb-1">
                <strong>Tác giả: </strong>
                <a asp-action="SearchAuthor" asp-route-authorSlug="@Model.Story.Author.AuthorSlug">@Model.Story.Author.AuthorName</a>
            </div>
            <div class="mb-1">
                <strong>Thể loại: </strong>
                @foreach (var cate in Model.Story.StoryCategory) {
                    <a asp-action="SearchCategory" asp-route-categorySlug="@cate.Category.CategorySlug">@cate.Category.CategoryName</a><text>, </text>
                }
            </div>
            <div class="mb-1">
                <strong>Nguồn: </strong>
                <span></span>
                    @(Model.Story.StorySource != null ? Model.Story.StorySource : "Sưu tầm")
                </span>
            </div>
            <div class="mb-1">
                <strong>Trạng thái: </strong> 
                <span class="text-green">
                    @(Model.Story.StoryState == true? "Full":"Đang ra")
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-12 float-end px-2">
        @Model.Story.Description
    </div>
</div>

<div class="list-title">
    <h2>        
        Danh sách chương
    </h2>
</div>
<div class="row mb-4">
    <div class="col-sm-6 col-xs-12">
        <ul class="list-chapter">
            @foreach (var chapter in Model.Chapters.Take(5)) {
                <li>
                    <a asp-action="Chapter" asp-route-storySlug="@Model.Story.StorySlug" asp-route-chapterOrder="@chapter.Order">Chương @chapter.Order: @chapter.Title.</a>
                </li>
            }   
        </ul>   
    </div>
    <div class="col-sm-6 col-xs-12">
        <ul class="list-chapter">
            @foreach (var chapter in Model.Chapters.Skip(5).Take(5)) {
                <li>
                    <a asp-action="Chapter" asp-route-storySlug="@Model.Story.StorySlug" asp-route-chapterOrder="@chapter.Order">Chương @chapter.Order: @chapter.Title.</a>
                </li>
            }   
        </ul> 
    </div>
</div>

@* Model paging sau này lấy từ viewbag *@
@await Component.InvokeAsync(nameof(truyenchu.Components.Paging.Paging), new truyenchu.Components.Paging.Paging.PagingOptions() {
    countpages = 10,
    currentpage = 2,
    generateUrl = (trang) => $"trang-{trang}"
})

<div class="comment">
    Phần comment
</div>