@using Microsoft.EntityFrameworkCore
@using truyenchu.Utilities
@model truyenchu.Area.ViewStory.Model.IndexViewModel
@inject truyenchu.Data.AppDbContext context
@{
    ViewData["Title"] = "Home Page";
}
@* Danh sách truyện *@
<div class="list-title border-bottom">
    <h2>
        <a href="#">Truyện hot</a>
    </h2>
    <select name="" id="" class="form-select w-auto rounded-0">
        <option value="0">Tất cả</option>
        <option value="1">Hài hước</option>
        <option value="2">Chính văn</option>
        <option value="3">Khoa học</option>
    </select>
</div>
<partial name="_StoryPartial"/>

@* Truyện mới cập nhật *@
<div class="row">
    <div class="col-xl-4 col-lg-12 order-xl-2">
        <div class="row">
            @if (Model.ReadingStories != null) {
                <div class="col-12 reading-story">
                    <div class="list-title border-bottom">
                        <h2>        
                            <a href="#">Truyện đang đọc</a>
                        </h2>
                    </div>
                    <table class="story-table table table-borderless">
                        <tbody>
                                @foreach (var item in Model.ReadingStories) {
                                <tr>
                                    <td>
                                        <a asp-action="DetailStory" asp-route-storySlug="@item.StorySlug">@item.StoryName</a>
                                    </td>
                                    <td>
                                        <a asp-action="Chapter" asp-route-storySlug="@item.StorySlug" asp-route-chapterOrder="@item.ChapterOrder">Đọc tiếp Chương @item.ChapterOrder</a>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            }
            <div class="col-12 d-none d-xl-block">
                <partial name="_CategoriesSidebarPartial" />
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12 order-xl-1">
        <div class="list-title">
            <h2>        
                <a href="#">Truyện mới cập nhật</a>
            </h2>
            <select name="" id="" class="form-select w-auto rounded-0">
                <option value="0">Tất cả</option>
                <option value="1">Hài hước</option>
                <option value="2">Chính văn</option>
                <option value="3">Khoa học</option>
            </select>
        </div>
        <table class="story-table table table-borderless">
            <tbody>
                @{
                    var new_story = context.Stories.Include(x=>x.StoryCategory).Take(20).OrderByDescending(x=>x.DateUpdated).ToList();
                }
                @foreach(var story in new_story) {
                    <tr>
                        <td>
                            <a asp-action="DetailStory" asp-route-storySlug="@story.StorySlug">@story.StoryName</a>
                            @if (@story.StoryState) {
                                <span class="label-title label-full"></span>
                            }
                            <span class="label-title label-new"></span>
                            <span class="label-title label-hot"></span>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            @{
                                var catesOfStory = story.StoryCategory?.Select(x=>x.Category).ToList();
                            }
                            @if (catesOfStory != null) 
                            {
                                @foreach (var cate in catesOfStory)
                                {
                                    <a asp-action="SearchCategory" asp-route-categorySlug="@cate.CategorySlug">@cate.CategoryName</a><text>, </text>
                                }
                            }
                        </td>
                        <td>
                             @* @if (story.LatestChapter != null) {
                                <a href="#" class="text-success">
                                    Chương @story.LatestChapter 
                                </a>
                            }else {
                                <span class="text-success">Chưa có chương</span>
                            } *@
                            <a href="#" class="text-success">Chương 30</a>
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <p>@AppUtilities.TimeSince(@story.DateUpdated)</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@* TRuyện đã hoàn thành *@
<div class="list-title border-bottom">
    <h2>
        <a href="#">Truyện đã hoàn thành</a>
    </h2>
    <select name="" id="" class="form-select w-auto rounded-0">
        <option value="0">Tất cả</option>
        <option value="1">Hài hước</option>
        <option value="2">Chính văn</option>
        <option value="3">Khoa học</option>
    </select>
</div>
<partial name="_StoryPartial"/>