@model List<truyenchu.Area.ViewStory.Model.StoryChapterModel>
@{
    Layout = "_SearchLayout";
    var currentCategory = ViewBag.currentCategory as Category;
}

@* Title *@
<div class="list-title">
    <h2>@ViewData["Title"]</h2>
</div>

@* Description *@
@if (currentCategory !=null) {
    <div class="py-4 mb-4 bg-dark">
        <div class="container-fluid">
            <span class="category-discription text-mute">
                @currentCategory.Description
            </span>
        </div>
    </div>
}

@* Story list *@
<table class="story-table table table-borderless table-striped table-dark">
    <tbody>
        @if(Model?.Count() >0) {
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <div class="story-image py-1">
                            <img class="img-fluid img-thumb" src="/contents/story_thumb/@item.Story.Photo.FileName" alt="@item.Story.StoryName"/>
                        </div>
                    </td>
                    <td> 
                        <a class="fw-bold" asp-action="DetailStory" asp-route-storySlug="@item.Story.StorySlug">@item.Story.StoryName</a>
                        @if (item.Story.StoryState == true) {
                            <span class="label-title label-full"></span>
                        }
                        <div>
                            <a class="fw-normal" asp-action="SearchAuthor" asp-route-authorSlug="@item.Story.Author.AuthorSlug" >@item.Story.Author.AuthorName</a>
                        </div>
                        @* test here *@
                        <div>
                            @{
                                var cateOfStory = @item.Story.StoryCategory.Select(x=>x.Category).ToList();
                            }
                            Thể loại: 
                            @foreach (var cate in cateOfStory) {
                                <span class="text-warning">@cate?.CategoryName</span><text>, </text>
                            }
                        </div>
                        @* end test *@
                    </td>
                    <td>
                        @if (item.LatestChapter != null && item.LatestChapter != 0) {
                            <a asp-action="Chapter" asp-route-storySlug="@item.Story.StorySlug" asp-route-chapterOrder="@item.LatestChapter" class="text-success">
                                Chương @item.LatestChapter 
                            </a>
                        }else {
                            <span class="text-success">Chưa có chương</span>
                        }
                       
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@* Model paging sau này lấy từ viewbag *@
@await Component.InvokeAsync(nameof(truyenchu.Components.Paging.Paging), new truyenchu.Components.Paging.Paging.PagingOptions() {
    countpages = 10,
    currentpage = 2,
    generateUrl = (trang) => $"trang-{trang}"
})